@use "../../styles/colors";
@use "../../styles/fonts";

.card{
    width: 339px;
    border-radius: 15px;    
    padding: 0 15px;
}
.cardLive{
    background-color:  rgba(colors.$secondary_main, 0.1) !important;
}
.media{
    border-radius: 20px;
}
.detailsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardMediaWrapper{
    position: relative;
}
.countdownWrapper{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    background-color: colors.$secondary_main;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: colors.$background_default;
    font-family: fonts.$font-family-Montserrat;
    font-weight: fonts.$card-price-font-weight;
    padding: 10px;
}

.badge{
    position: absolute;
    top: 7%;
    left: 7%;
    background-color: colors.$secondary_main;
    padding: 5px 7px;
    border-radius: 7px;
    font-size: 15px;
    width: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: colors.$background_default;
    font-family: fonts.$font-family-Montserrat;
    font-weight: fonts.$card-price-font-weight;
}
// .infoWrapper{
    
// }

.title{
    font-family: fonts.$font-family-Montserrat;
    font-weight: fonts.$card-title-font-weight;
    margin: 0;
}
.price{
    font-family: fonts.$font-family-Montserrat;
    font-weight: fonts.$card-price-font-weight;
    color: colors.$secondary_main !important;
    margin: 0;
}

.likesWrapper{
    background-color: colors.$background_paper !important;;
}

.likes{
    border: 2px solid colors.$secondary_main !important;
    color: colors.$secondary_main !important;
    background-color:  rgba(colors.$secondary_main, 0.1) !important;
}
.icon{
    color: colors.$secondary_main !important;
}