@use "../../styles/colors";

.product-info {
  background-color: colors.$background_default;
  max-width: 577px;
}
.stats {
  margin: 28px 0 24px 0;
  padding-top: 14px !important;
}

.grid {
  margin-top: 24px;
  margin-bottom: 47px;
}
.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
}