@use "../../styles/colors.scss";

.product-info-price {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: colors.$text_primary;
}