.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .image {
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
  }
  
  .badge {
    width: 28%;
    position: absolute;
    bottom: 7%;
    right: 7%;
    z-index: 1;
  }