@use "../../styles/colors";
@use "../../styles/fonts";

.stepWrapper{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    background: colors.$background_paper;
    border-radius: 30px;
    margin: 50px 0px;
}

.stepNumberWrapper{
    background-color: rgba(colors.$primary_main, 0.10);
    border-radius: 30px 0 0 30px;
}

.stepNumber{
    font-size: 5rem !important;
    font-family: fonts.$font-family-Montserrat;
    font-weight:  fonts.$trnding-title-fw;
    text-align: center;

}

.stepContentWrapper{
}

.stepTitle{
    font-family: fonts.$font-family-Montserrat;
    font-weight:  fonts.$trnding-title-fw;
}

.stepDescription{}