@use "../../styles/colors";
@use "../../styles/fonts";

.stepWrapper{
    background: colors.$background_paper;
    border-radius: 30px;
    margin: 50px 0px;
    
    
}
.gridContainer{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: auto;
    height: 190px;
    // gap: 2px;
}

.stepNumberWrapper{
    background-color: rgba(colors.$primary_main, 0.1) !important;
    border-radius: 30px 0 0 30px;
    align-items: center !important;
    display: flex;
    justify-content: center;
    height: 100%;
}

.stepNumber{
    background-color: rgba(colors.$primary_main, 0.1) !important;
    font-size: 5rem !important;
    font-family: fonts.$font-family-Montserrat;
    font-weight:  fonts.$trnding-title-fw !important;
    text-align: center;
    display: block;

}

.stepContentWrapper{
    padding: 20px;
}

.stepTitle{
    font-family: fonts.$font-family-Montserrat;
    font-weight:  fonts.$trnding-title-fw !important;
    font-size: 0.8rem !important;
}

.stepDescription{
    font-family: fonts.$font-family-Montserrat;
    font-size: 0.8rem !important;
}